version: "3.9"

services:
  financial_news_crawler:
    image: financial_news_crawler_postgre:latest   # 여기만 확실히 지정
    container_name: financial_news_crawler_postgre
    env_file:
      - .env
    volumes:
      - ./output:/app/output
      - ./rss_config/rss_list.xlsx:/app/rss_config/rss_list.xlsx:ro
    network_mode: "host"
    environment:
      - PYTHONUNBUFFERED=1